@model WriterPlatformApp.WEB.ViewModels.TitleViewModel

@{
    ViewBag.Title = Model.TitleName.Trim();
}

<h2>Информация о @Html.DisplayFor(model => model.TitleName)</h2>

<div>
    <hr />
    @Html.HiddenFor(model => model.Id)
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TitleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublicationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genres.GenreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genres.GenreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserProfiles.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserProfiles.UserName)
        </dd>
    </dl>
    <button type="button" class="btn btn-primary btn-outline-primary">
    @Html.ActionLink("Прочесть", "ReadFile", new { id = Model.Id})</button>
</div>
<p>
    @Html.ActionLink("Назад", "Index")
</p>
@Scripts.Render("~/bundles/ajaxratingscript")
<div id="ratingSection">

</div>
@Scripts.Render("~/bundles/ajaxmessagescript")
@Scripts.Render("~/bundles/moment")
<div id="commentSection">

</div>
