<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Цифровая библиотека</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <div class="container">
            @Html.ActionLink("Писательская платформа", "Index", "Home", null, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler"
                    data-toggle="collapse"
                    data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarResponsive">
                <ul class="navbar-nav mr-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item p-2">@Html.ActionLink("Произведения", "Index", "Title")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <!--Navbar End-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/alertify")
    <!--Body-->
    <div class="container-background">
        <div class="container body-content"> 
            <br />
            <br />
            @RenderBody()
            <hr />
        </div>
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - Цифровая библиотека. Республика Казахстан.</p>
            <p>&copy; Автор и разработчик: Нупбаев Жантуар (nupbayev93@gmail.com).</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
    <!--Body End-->
</body>
</html>
