@model WriterPlatformApp.WEB.ViewModels.ChangePasswordViewModel


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 class="text-center bg-warning pb-2">Смена пароля</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group m-md-auto d-flex justify-content-center flex-column">
            @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2 mx-auto text-center" })
            <div class="col-md-10 mx-auto my-2 d-flex justify-content-center w-50">
                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group m-md-auto d-flex justify-content-center flex-column">
            @Html.LabelFor(model => model.ConfirmNewPassword, htmlAttributes: new { @class = "control-label col-md-2 mx-auto text-center" })
            <div class="col-md-10 mx-auto my-2 d-flex justify-content-center w-50">
                @Html.EditorFor(model => model.ConfirmNewPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group w-50 m-md-auto text-center">
            <div class="col-md-offset-2 col-md-10 mx-auto my-2">
                <input type="submit" value="Сохранить" id="change-password-btn" class="btn btn-outline-warning" />
            </div>
        </div>
    </div>
}

<!-- Modal Success -->
<div class="modal fade" id="modal-dialog" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-success text-center">
                <h4 class="modal-title">Предупреждение</h4>
            </div>
            <div class="modal-body">
                <p id="modal-text"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>

    </div>
</div>
<!-- End Modal Success -->

